<div class="characters section">
    <div class="flex">
        <div class="flex__item">
            <h2 class="section__header">MLP story</h2>
            <div class="textblock">
                <div class="textblock__descr">
                    <p>
                        The My Little Pony brand describes its characters as ponies. The brand's toys, as the name suggests, usually consist of small colorful plastic ponies. The characters on the various My Little Pony television shows and movies are depicted with varying degrees of fantasy elements, like the ability to speak, fly, and use magic.
                    </p>
                    <p>
                        The fourth and current incarnation of My Little Pony began with the TV show My Little Pony: Friendship is Magic in 2010 and the associating toy line is often referred to Generation Four or "G4" by collectors. It features nine characters tied into the television series, which airs on Discovery Family: Twilight Sparkle, Rainbow Dash, Fluttershy, Pinkie Pie, Applejack, Rarity, Spike the Dragon, Princess Celestia, and Princess Luna. Set in Equestria, the show centers on the unicorn pony Twilight Sparkle as she learns lessons about friendship.
                    </p>
                    <p>
                        Most of the characters on the show were designed by animator Lauren Faust, who also developed the show for television.
                    </p>
                </div>
            </div>
        </div>

        <div id="characters" class="flex__item chars">
            <h2 class="section__header">Main characters</h2>
                <ul class="list flex">
                <include src="title-text_item.html"
                        number="1"
                        title="Twilight Sparkle"
                        descr="She is a female unicorn pony who transforms into an Alicorn and becomes a princess in Magical Mystery Cure.">
                </include>
                <include src="title-text_item.html"
                        number="2"
                        title="Rainbow Dash"
                        descr="A female Pegasus pony, she maintains the weather and clears the skies in Ponyville.">
                </include>
                <include src="title-text_item.html"
                        number="3"
                        title="Rarity"
                        descr="She is Sweetie Belle's older sister and the love interest of Spike.">
                </include>
                <include src="title-text_item.html"
                        number="4"
                        title="Pinkie Pie"
                        descr="A female pony is energetic and sociable, and she represents the element of laughter.">
                </include>
                <include src="title-text_item.html"
                        number="5"
                        title="Applejack"
                        descr="She lives and works at Sweet Apple Acres with her grandmother Granny Smith.">
                </include>
                <include src="title-text_item.html"
                        number="6"
                        title="Fluttershy"
                        descr="She's lives in a small cottage near the Everfree Forest and takes care of animals.">
                </include>
            </ul>
        </div>
    </div>
</div>