<div id="features" class="features section">
    <h2 class="section__header">Ponies have cutie marks</h2>
    <div class="flex flex--special">
        <div class="textblock flex__item flex__item--special">
            <div class="textblock__descr">
                <p>The My Little Pony franchise is famous for cutie marks, unique picture-like symbols located on the ponies and zebras' flanks or haunches.</p>
                <p>The term is a play on "beauty mark", and it is also reminiscent of "quarter mark". The mark itself is positioned where livestock branding is usually performed. Cutie marks are often related to the personality, proclivity, or talent of the character.</p>
                <p>Friendship is Magic is the first My Little Pony production that explicitly refers to these symbols as a main subject of interest. They were referred to as "symbols" in the first generation, and were changed to "cutie marks" in the third generation.</p>
            </div>
        </div>
        <ul class="list flex__item flex__item--special">
            <include src="title-img_item.html"
                url="img/mark_twilight.png"
                title="Six-pointed star"
                number="1">
            </include>
            <include src="title-img_item.html"
                url="img/mark_rainbowdash.png"
                title="Rainbow lightning bolt"
                number="2">
            </include>
            <include src="title-img_item.html"
                url="img/mark_rarity.png"
                title="Three lozenge diamonds"
                number="3">
            </include>
        </ul>
        <ul class="list flex__item flex__item--special">
            <include src="title-img_item.html"
                url="img/mark_pinkiepie.png"
                title="Three balloons"
                number="4">
            </include>
            <include src="title-img_item.html"
                url="img/mark_applejack.png"
                title="Three red apples"
                number="5">
            </include>
            <include src="title-img_item.html"
                url="img/mark_fluttershy.png"
                title="Three pink butterflies"
                number="6">
            </include>
        </ul>
    </div>
</div>