<div class="header">
    <div class="flex">
        <div class="flex__item header__logo">
            <img src="img/logo.png">
        </div>
        <ul class="nav flex flex__item">
            <li class="nav__item">
                <a href="#characters" class="nav__link">Characters</a>
            </li>
            <li class="nav__item">
                <a href="#types" class="nav__link">Types</a>
            </li>
            <li class="nav__item">
                <a href="#features" class="nav__link">Features</a>
            </li>
            <li class="nav__item">
                <a href="#map" class="nav__link">Map</a>
            </li>
        </ul>
    </div>
</div>