<div id="map" class="map section">
    <h2 class="section__header">Equestria is ponies home</h2>
    <div class="flex flex--special">
        <div class="flex__item flex__item--special">
            <img src="img/map.png" class="map__img">
        </div>
        <ul class="list flex__item flex__item--special">
            <include src="title-text_item.html"
                    number="1"
                    title="Ponyville"
                    descr="Ponyville is a small town that is the main setting of the series and the home of the main characters.">
            </include>
            <include src="title-text_item.html"
                    number="2"
                    title="Canterlot"
                    descr="Canterlot is the capital of Equestria and home to the royal palace of Princess Celestia and Princess Luna.">
            </include>
            <include src="title-text_item.html"
                    number="3"
                    title="Cloudsdale"
                    descr="Cloudsdale is a city in the sky where the Best Young Flyer competition takes place and where Equestria's weather is made.">
            </include>

        </ul>
        <ul class="list flex__item flex__item--special">
            <include src="title-text_item.html"
                    number="4"
                    title="Everfree Forest"
                    descr="The ponies say the forest is not natural and it doesn't work like the rest of Equestria, since plants grow by themselves, animals care for themselves, and the weather changes without the help of ponies.">
            </include>
            <include src="title-text_item.html"
                    number="5"
                    title="Manehattan"
                    descr="Manehattan is a large city featured in The Cutie Mark Chronicles, Rarity Takes Manehattan and Made in Manehattan.">
            </include>
            <include src="title-text_item.html"
                    number="6"
                    title="Crystal Kingdom"
                    descr="In the Ballad of the Crystal Ponies, Twilight Sparkle mentions the Crystal Kingdom as part of the Crystal Ponies' history.">
            </include>
        </ul>
    </div>
</div>