<div id="types" class="types section">
    <h2 class="section__header">There are some pony types</h2>
    <div class="flex">
        <ul class="list">
            <include src="title-img-descr_item.html"
                url="img/type_earth.png"
                title="Earth ponies"
                number="1"
                descr="They are have a special connection to nature, animals, and plants.">
            </include>
            <include src="title-img-descr_item.html"
                url="img/type_pegas.png"
                title="Pegasus ponies"
                number="2"
                descr="One of several kinds of ponies, characterized by their wings and their ability to fly, walk on clouds, and control the weather.">
            </include>
            <include src="title-img-descr_item.html"
                url="img/type_unicorn.png"
                title="Unicorn ponies"
                number="3"
                descr="They are characterized by their horns and their ability to perform magic.">
            </include>
            <include src="title-img-descr_item.html"
                url="img/type_alicorn.png"
                title="Alicorn ponies"
                number="4"
                descr="A pony characters in the show and other material who have both a unicorn horn and Pegasus wings.">
            </include>
        </ul>
    </div>
</div>